@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1440px;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: #0d0f15;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}



.background {
    /* display: flex;
    flex-direction: row;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: 0; */
    min-height: 100vh;
    
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-bg {
    background-image: url('../assets/home/background-home-desktop.jpg');
}

.logo {
    background-image: url('../images/Group 2.png');
    position: absolute;
    width: 48px;
    height: 48px;
    top: 64px;
    left: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.header {
    position: absolute;
    color: #fff;
    top: 40px;
    right: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    padding: 0 165px 0 123px;
}

.nav-bar ul, .planets-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    
    text-transform: uppercase;
}

.nav-bar ul {
    gap: 48px;
}

.nav-bar ul li {
    padding-top: 39px;
    padding-bottom: 38px;
    letter-spacing: 2.7px;
    font-weight: 400;
}

li.active {
    box-shadow: 0 3px 0px #fff;
}

.nav-bar ul li span {
    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
}

ul li:hover {
    box-shadow: 0 3px 0px #979797;
    cursor: pointer;
}



a {
    color:#fff;
    text-decoration: none;
}
a:link {
    color:#fff;
}

a:visited {
    color:#fff;
}

a:hover {
    color:#fff;
}

a:active {
    color:#fff;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:flex-end;
    gap: 386px;
    padding: 387px 165px 131px;
}

.burger {
    display: none;
    cursor: pointer;
}

.content {
    /* position: absolute;
    top: 387px;
    left: 165px;
    z-index: 200; */
    
    
    width: 450px;
    height: 382px;
    text-align: start;
}

.caption {
    letter-spacing: 4.72px;
    font-size: 28px;
    color: #D0D6F9;
    max-width: 379px;
    text-indent: 1px;
}

.content-main {
    font-size: 150px;
    text-transform: uppercase;
    text-indent: 1px;
    letter-spacing: 16px;
    max-width: 445px;
}

.content__paragraph {
    font-size: 18px;
    line-height: 32px;
    max-width: 444px;
    letter-spacing: 1.3px;
    text-indent: 1px;
    color: #D0D6F9;
}

.explore {
    /* position: absolute;
    top: 495px;
    right: 165px; */
    width: 274px;
    height: 274px;
    border-radius: 50%;
    


    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0B0D17;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    font-family: 'Bellefair', serif;
}

.explore:hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-color: #fff;
    opacity: 0.1036;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

h5 {
    color: #FFF;
    font-family: 'Barlow Condensed', 'sans-serif';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}

h5 span {
    font-weight: 700;
    opacity: 0.25;
}

.dest-bg {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
}

.destination-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 212px 163px 112px 166.5px;
}

.planet__intro {
    display: flex;
    flex-direction: column;
    gap: 97px
}

.planet {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 445px;
    height: 445px;
    margin-left: 70px;
}

.planet__info {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.info__paragraph {
    width: 444px;
    color: #D0D6F9;
    font-family: 'Barlow';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    margin-bottom: 17px;
}

.planets-nav ul {
    gap: 15px;
}

.planets-nav ul li {
    padding-bottom: 12px;
}

.planets-nav ul li {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}

.info h2 {
    margin-bottom: 14px;
}

h2 {
    color: #FFF;
    font-family: 'Bellefair';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.params {
    display: flex;
    flex-direction: row;
    gap: 79px;
    padding-top: 28px;
    border-top: 1px solid #383B4B;
}

.params-elem {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
}

.params-num {
    font-family: 'Bellefair';
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 12px;
}

.crew-bg {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
}
 
.crew-wrapper {
    padding: 198px 137px 0 165px;
}

.crew-member {
    display: flex;
    flex-direction: row;
    gap: 81.43px;
}

.crew__info {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

h3, h4 {
    color: #FFF;
    font-family: 'Bellefair';
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 56px;
    margin-bottom: 27px;
}

h4 {
    font-size: 32px;
    opacity: .5;
    margin-bottom: 15px;
    margin-top: 34px;
}



.crew-foto {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 568.07px;
    height: 700px;
}

.crew-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 24px;
}

.crew-nav ul li .circle {
    
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0.1744;
    border-radius: 50%;
}

.crew-nav li.active{
    box-shadow: none;
}

.crew-nav li.active .circle {
    background-color: #fff;
    opacity: 1;
}

.crew-nav ul li:hover {
    box-shadow: none;
}

.crew-nav ul li .circle:hover {
    background-color: #fff;
    opacity: 0.5001;
}

.tech-bg {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
}

.tech-wrapper {
    padding: 212px 0 101px 166.5px;
}

.tech-wrapper h5 {
    margin-bottom: 26px;
}

.technologie-descr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 80px;
}

.tech-nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 32px;
}

.tech-nav ul li div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Bellefair';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.tech-nav ul li.active {
    box-shadow: none;
}

.tech-nav ul li.active div {
    background-color: #fff;
    color: #0B0D17;
}

.tech-nav ul li:hover {
    box-shadow: none;
}

.tech-nav ul li div:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.sp-img {
    background-image: url('../assets/technology/image-spaceport-portrait.jpg');
}

.tech__foto {
    width: 515px;
    height: 527px;
    margin-left: 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.veh-img {
    background-image: url('../assets/technology/image-launch-vehicle-portrait.jpg');
}

.caps-img {
    background-image: url('../assets/technology/image-space-capsule-portrait.jpg');
}

@media screen and (width >=768px) and (width < 1440px) {

    .index-bg { 
        background-image: url('../assets/home/background-home-tablet.jpg');
    }

    .nav-bar ul {
        gap: 37px;
    }

    .nav-bar ul li {
        font-size: 14px;
        letter-spacing: 2.1px;
    }

    .logo {
        top: 25px;
    }

    .header {
        top: 0;
        padding: 0 46px 0 48px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 156px;
        padding: 202px 159px 90px;
    }

    .content {
        text-align: center;
        height: 334px;
    }

    .caption {
        max-width: 100%;
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .content__paragraph {
        font-size: 16px;
    }

    .explore {
        width: 242px;
        height: 242px;
    }

    .explore:hover::after {
        width: 370px;
        height: 370px;
    }

    h5 {
        font-size: 20px;
    }

    .dest-bg {
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }

    .destination-content {
        flex-direction: column;
        align-items: center;
        padding: 136px 98px 62px 38.5px;
        gap: 53px;
    }

    .planet__intro {
        gap: 60px;
        align-items: center;
    }

    .planet__info {
        text-align: center;
        gap: 32px;
    }

    .planets-nav ul {
        justify-content: center;
    }

    h2 {
        font-size: 80px;
    }

    .params {
        justify-content: center;
    }

    .info h2 {
        margin-bottom: 8px;
    }

    .info__paragraph {
        font-size: 16px;
        width: 592px;
    }

    .planet {
        margin: 0;
        width: 300px;
        height: 300px;
    }


    .crew-wrapper {
        padding: 136px 96.75px 0 96.75px;
    }

    .crew-wrapper h5 {
        margin-bottom: 60px;
    }

    .crew-member {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .crew__info {
        gap: 40px;
    }
    

    .info {
        text-align: center;
    }
 
    .crew-member .info__paragraph {
        margin-bottom: 0;
        line-height: 28px;
    }

    h4 {
        margin: 0;
        margin-bottom: 8px;
        font-size: 24px;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .crew-nav ul {
        justify-content: center;
    }

    .crew-nav ul li .circle {
        width: 10px;
        height: 10px;
    }

    .crew-foto {
        height: 532px;
        width: 456.37px;
    }

    .tech-bg { 
        background-image: url('../assets/technology/background-technology-tablet.jpg');
    }

    .tech-wrapper {
        padding: 136px 0 97px 0;
    }

    .tech-wrapper h5 {
        padding-left: 38.5px;
    }

    .technologie-descr {
        flex-direction: column;
        gap: 56px;
        
    }

    .tech__nav {
        order: 1;
    }

    .tech-nav ul {
        flex-direction: row;
    }

    .tech-nav ul li div {
        width: 60px;
        height: 60px;
    }

    .tech__info {
        order: 2;
    }

    .tech__foto {
        margin: 0;
        order: 0;
        width: 100%;
        
        height: 590px;
    }

    .tech__info .info__paragraph {
        width: 458px;
    }

    .veh-img {
        background-image: url('../assets/technology/image-launch-vehicle-landscape.jpg');
    }

    .sp-img {
        background-image: url('../assets/technology/image-spaceport-landscape.jpg');
    }

    .caps-img {
        background-image: url('../assets/technology/image-space-capsule-landscape.jpg');
    }
}

@media screen and (width < 768px) {
    .index-bg { 
        background-image: url('../assets/home/background-home-mobile.jpg');
    }

    .header {
        display: none;
    }

    .header.open {
        display: block;
        top: 0;
        right: 0;
        z-index: 200;
        min-height: 100%;
        width: 50%;
        padding: 0;
    }

    .nav-bar ul {
        flex-direction: column;
        gap: 32px;
        padding-top: 118px;
        padding-left: 32px;
    }

    .nav-bar ul li {
        padding: 0;
    }

    .nav-bar li.active {
        box-shadow: none;
    }

    .nav-bar li:hover {
        box-shadow: none;
    }

    .logo {
        top: 24px;
        left: 24px;
    }

    .burger {
        display: block;
        width: 24px;
        height: 21px;
        position: absolute;
        top: 33px;
        right: 24px;
        z-index: 240;


        background-image: url('../assets/shared/icon-hamburger.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .content-main {
        font-size: 80px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 81px;
        padding: 112px 24px 48px;
    }

    .content {
        text-align: center;
        height: 276px;
    }

    .caption {
        max-width: 100%;
        font-size: 16px;
        letter-spacing: 2.7px;
        text-transform: uppercase;
    }

    .content__paragraph {
        font-size: 15px;
        line-height: 25px;
    }

    .explore {
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

    .explore:hover::after {
        width: 240px;
        height: 240px;
    }

    h5 {
        font-size: 16px;
    }

    .dest-bg {
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }

    .destination-content {
        flex-direction: column;
        align-items: center;
        padding: 88px 24px 58px 24px;
        gap: 26px;
    }

    .planet__intro {
        gap: 32px;
        align-items: center;
    }

    .planet__info {
        text-align: center;
        gap: 20px;
    }

    .planets-nav ul {
        justify-content: center;
    }

    .planets-nav ul li{
        font-size: 14px;
        letter-spacing: 2px;
        padding-bottom: 8px;
    }

    h2 {
        font-size: 56px;
    }

    .params {
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .params-elem {
        font-size: 14;
        letter-spacing: 2.36px;
    }

    .params-num {
        font-size: 28PX;
    }

    .info h2 {
        margin-bottom: 1px;
    }

    .info__paragraph {
        font-size: 15px;
        line-height: 25px;
        width: 327px;
    }

    .planet {
        margin: 0;
        width: 170px;
        height: 170px;
    }

    .crew-wrapper {
        padding: 88px 24px 54px 24px;
    }

    .crew-wrapper h5 {
        text-align: center;
        margin-bottom: 32px;
    }

    .crew-member {
        
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .crew__info {
        gap: 40px;
        order: 1;
    }

    .crew__info .info {
        order: 1;
    }

    .info {
        text-align: center;
    }
 
    
    .crew-member .info__paragraph {
        margin-bottom: 0;
        width: 100%;
        line-height: 25px;
        letter-spacing: 0;
    }

    h4 {
        margin: 0;
        margin-bottom: 8px;
        font-size: 16px;
        letter-spacing: 0;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .crew-nav {
        order: 0;
    }

    .crew-nav ul {
        justify-content: center;
    }

    .crew-nav ul li .circle {
        width: 10px;
        height: 10px;
    }

    .crew-foto {
        height: 223px;
        width: 100%;
        order: 0;
        box-shadow: 0 2px 0 #383B4B;
    }

    .tech-bg {
        background-image: url('../assets/technology/background-technology-mobile.jpg');
    }

    .tech-wrapper {
        padding: 136px 0 81px 0;
    }

    .tech-wrapper h5 {
        text-align: center;
        letter-spacing: 2.7px;
    }


    .technologie-descr {
        flex-direction: column;
        gap: 34px;
        
    }

    .tech__nav {
        order: 1;
    }

    .tech-nav ul {
        flex-direction: row;
        gap: 16px;
    }

    .tech-nav ul li div {
        width: 40px;
        height: 40px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .tech__info {
        order: 2;
    }

    .tech__foto {
        margin: 0;
        order: 0;
        width: 100%;
        
        height: 370px;
    }

    .tech__info .info__paragraph {
        width: 327px;
        padding: 0;
        margin: 0;
    }

    .veh-img {
        background-image: url('../assets/technology/image-launch-vehicle-landscape.jpg');
    }

    .sp-img {
        background-image: url('../assets/technology/image-spaceport-landscape.jpg');
    }

    .caps-img {
        background-image: url('../assets/technology/image-space-capsule-landscape.jpg');
    }
}